{% extends 'base.html.twig' %}

{% block title %}Hello EditBookingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="fluid-container body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Charge-IT</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">{{ app.user.userIdentifier }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <table class="table table-striped table-active">
        <thead class="table-dark">
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Car</th>
            <th scope="col">Location</th>
            <th scope="col">Station ID</th>
            <th scope="col">Charge Start</th>
            <th scope="col">Charge End</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ booking.id }}</th>
                <td>{{ booking.car.licenseplate }}</td>
                <td>{{ booking.station.location.name }}</td>
                <td>{{ booking.station.id }}</td>
                <td>{{ booking.chargestart |date('d-m-Y H:i')}}</td>
                <td>{{ booking.chargeend |date('d-m-Y H:i')}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Edit Booking</h1>
    <div>
        {{ form(formBooking) }}
    </div>
    <a href="/profile">Go Back</a>
</div>

{% endblock %}
